<div fxFlexLayout="row">
  <button
      mat-icon-button
      (click)="zoomIn()">
    <mat-icon>
      zoom_in
    </mat-icon>
  </button>
  <button
      mat-icon-button
      (click)="zoomOut()">
    <mat-icon>
      zoom_out
    </mat-icon>
  </button>
  <button
      mat-icon-button
      (click)="reset()">
    <mat-icon>
      youtube_searched_for
    </mat-icon>
  </button>
  <!-- <button
      mat-icon-button
      (click)="add()">
    <mat-icon>
      add
    </mat-icon>
  </button>
  <button
      mat-icon-button
      (click)="getCenter()">
    <mat-icon>
      filter_center_focus
    </mat-icon>
  </button> -->
</div>
<div #zoomPanContaner>
  <fs-zoom-pan
      [zoomDefault]="1.1"
      [zoomFactor]=".5"
      [zoomMax]="10"
      (zoomed)="zoomed($event)"
      (moved)="moved($event)">
    <div fsDiagram>
      <img src="https://cdn.ferrari.com/cms/network/media/img/resize/6673fe6511a59b0011ec0465-laferrari_20240627_cover_1920x1080%20centered_v2?width=1080">
      <!-- <div
          *ngFor="let object of objects"
          fsDiagramObject
          #modelObject
          (dragStop)="dragStop()"
          [data]="object"
          [scale]="zoomPan.scale"
          [x1]="object.x1"
          [y1]="object.y1">
        <button
            mat-icon-button
            (click)="remove(object)">
          <mat-icon>
            clear
          </mat-icon>
        </button>
        <button
            mat-icon-button
            (click)="center(modelObject)">
          <mat-icon>
            gps_fixed
          </mat-icon>
        </button>
        <div>
          {{ object.name }}
        </div>
      </div> -->
    </div>
  </fs-zoom-pan>
</div>