<div fxFlexLayout="row">
  <button mat-icon-button (click)="zoomIn()"><mat-icon>zoom_in</mat-icon></button>
  <button mat-icon-button (click)="zoomOut()"><mat-icon>zoom_out</mat-icon></button>
  <button mat-icon-button (click)="reset()"><mat-icon>youtube_searched_for</mat-icon></button>
  <button mat-icon-button (click)="add()"><mat-icon>add</mat-icon></button>
</div>
<div #zoomPanContaner>
  <fs-zoom-pan [top]="-50" [left]="-50">
    <ng-template fsZoomPanContent>
      <div fsModel #model>
        <div
          *ngFor="let object of objects"
          fsModelObject
          #modelObject
          (dragStop)="dragStop($event)"
          [data]="object"
          [scale]="zoomPan.scale"
          [x1]="object.x1"
          [y1]="object.y1">
          <button mat-icon-button (click)="remove(object)"><mat-icon>clear</mat-icon></button>
          <button mat-icon-button (click)="center(modelObject)"><mat-icon>gps_fixed</mat-icon></button>
          <div>{{object.name}}</div>
        </div>
      </div>
    </ng-template>
  </fs-zoom-pan>
</div>


