
fs-zoom-pan {
  border: 1px solid #929eaa;
  border-radius: 5px;
  overflow: hidden;
  height: 600px;
  position: relative;
}

::ng-deep .fs-model-object {
  height: 150px;
  width: 150px;
  border: 3px solid #2196F3;
  text-align: center;
  border-radius: 4px;
  background: #fff;
}